
.custume-brand {
    background: #121FCF;
    background: linear-gradient(to right, #3642ec 0%, #13CF1F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.hidden_scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

    .hidden_scrollbar::-webkit-scrollbar {
        /* WebKit */
        width: 0;
        height: 0;
    }

body {
    overflow-x: hidden;
}

.navbar.navbar-nav.nav-link.active,
.navbar.navbar-nav.nav-link.foucs,
.navbar.navbar-nav.nav-link.havour {
    color: var(green-color)
}


a {
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}



